
@import "normalize";

html {
    font-size: 14px;
}

$header-height: 4em;
$footer-height: 5em;
$side-padding: 1rem;
$base-bg-color: #212128;
$active-type-color:#efefef;
$type-color:#aaaaaa;
$signal-color:#15bf91;


header {
    height: $header-height;
    background-color: $base-bg-color;
}
footer {
    height: $footer-height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $base-bg-color;
}

header {
    padding: 0 $side-padding;
}

#main.container{
    overflow-y: auto;
    flex-grow: 1;
    background: radial-gradient(ellipse at center, #34333f 0%,#282730 100%);
}

body > div {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: $type-color;
}

header > h2{
    margin: auto;
    line-height: 3em;
    text-transform: uppercase;
    text-align: center;
}
