.editWrapper{
    padding: 1rem 2rem;
}

.inputTitle, .inputTime{
    width: 100%;
    margin: 0.5em 0;
    font-size: 2em;
    overflow: hidden;
}


.inputTitle input, .inputTime input{
    padding-left: 0.2em;
    color: $active-type-color;
    border: none;
    background: transparent;
}

.inputTime{
    margin: 0.5em 0;
    font-size: 4em;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.buttons h2{
    width: 25%;
    text-align: center;
    background-color: $type-color;
    color: $base-bg-color;
    border-radius: 6px;
    line-height: 1.8em;
    opacity: 0.75;
}