
.alarmListItem{
    margin:1em;
    padding: 0 1em;
    border-bottom: 1px solid $type-color;
}

.alarmListItem > div > h2{
    padding-top: 1em;
}

.alarmListItem > div >div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.alarmOn{
    color: $active-type-color;
}