<header>
    {{!--Titel--}}
    <h1>{{currentRouteName}}</h1>
</header>
<div id="main" class="container">
    {{outlet}}
    
</div>
<footer>
    {{#link-to "index"}}
        <h3>Deine Alarme</h3>
    {{/link-to}}
    {{#link-to "alarms.new"}}
        <h3>Neuer Alarm</h3>
    {{/link-to}}
    {{!--Navigation--}}
</footer>